* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    background: rgba(139, 219, 187, 0.859);
    color: white;
    padding: 10px 0;
    text-align: center;
    display: flex;
}

.pic {
    flex: 1;
    text-align: center;
    /* margin-top: 10px; */
    /* background: #000; */

}

img {
    width: 170px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.link {
    flex: 3;
    text-decoration: none;
    color: white;
    /* background: #c37575; */
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;

}

nav {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(42, 186, 128, 0.037);
    justify-content: flex-end;
    padding: 10px 20px;
    z-index: 1000;
    margin-top: 30px;

}

nav a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    text-decoration: none;


}

nav a:hover {
    text-decoration: underline;
}

.full-top {
    width: 100%;
    height: 500px;
    background: url(/img/eco.png) no-repeat center center/cover;
    margin-bottom: 20px;
    color: white;
}

.full-top h2 {
    padding: 200px 0px 0px 100px;
    margin-bottom: 20px;
    font-size: 3em;
}

.full-top p {
    padding: 130px 0px 0px 1200px;
    font-size: 1.5em;
    line-height: 1.6;
    margin-bottom: 20px;

}

.full-top a {
    color: white;
    text-decoration: none;

}

.full-top a:hover {
    text-decoration: underline;
}

.about {
    padding: 45px 45px 45px 60px;
}

.about h2 {
    color: rgb(230, 86, 25);

}

.btn-choose {
    background: rgb(247, 247, 239);
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    border-radius:12px;
}

.btn-choose button {
    background: rgb(246, 226, 200);
    padding: 6px 128px;
    border-radius:5px;
    border: none;

}
.btn-choose a{
     color: black;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    text-decoration: none;
}
.btn-choose button:hover{
    background: #ead673;
    background-size: cover;
    background-position: center;
     transform: scale(1.02);
    transition: transform 0.5s;
}
.two-vi{
      display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    height: auto;
    margin: 50px;
}

.two-vi a {
    display: inline-block;
    padding: 120px 180px;
    border-radius: 24px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    
}

.two-vi a:hover {
    opacity: 0.8;

}

.two-vi p {
    font-size: 0.6em;
}

.mix {
    border-radius: 24px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
}
#one ,.onee,#one-t,.one-tt,#one-e,.one-ee,#one-k,.one-kk,#one-v,.one-vv,#one-m,.one-mm{
    flex: 1;
    display: inline-block;
    border-radius: 24px 24px 0px 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    padding: 24px 136px;
}
.mix:hover{
    background-size: cover;
    background-position: center;
     transform: scale(1.02);
    transition: transform 0.5s;
}
#one{
     background-image: url('/img/havest.png');
}
.onee{
     background-image: url('/img/take\ care.png');
}
#one-t{
    background-image: url(/img/plant-banana.png);
}
.one-tt{
    background-image: url(/img/banana-t.png);
}
#one-e{
    background-image: url(/img/plant-papa.png);
}
.one-ee{
    background-image: url(/img/full\ papa.png);
}
#one-k{
    background-image: url(/img/plant-flow.png);
}
.one-kk{
    background-image: url(/img/flow-ha.png);
}
#one-v{
    background-image: url(/img/orange-sm.png);
}
.one-vv{
    background-image: url(/img/har-orange.png);
}
#one-m{
    background-image: url(/img/chick-care.png);
}
.one-mm{
    background-image: url(/img/wite-chick.png);
}

.two {
    flex: 2;
    padding: 10px;
    background: rgb(218, 211, 211);
    border-radius: 0px 0px 24px 24px;
}
.texts {
 background: rgb(248, 247, 244);
 width: 100%;
 height: auto;
 font-size: 1.3em;
 padding: 20px;
 display: flex;
 justify-content: center;
 margin-bottom: 30px;
}
/* footer---------------------------------- */
footer{
     background: rgb(42, 186, 129);
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    height: auto;
   
}
.foot-top{
    margin-bottom: 10px;
    font-size: 1em;
    display: flex;
    justify-content: space-evenly;

}


footer p{
    margin: 0;
    width: 400px;
    padding: 5px ;
    line-height: 1.6;
}
.useful{
    text-align: left;
}
.useful h3{
    margin-top: 30px;
    margin-bottom: 10px;
}
.useful ul{
    list-style: none;
    padding: 0;
}
.useful li{
    margin-bottom: 10px;
}
.useful a{
    color: white;
    text-decoration: none;
    list-style: none;
}

.useful a:hover{
    text-decoration: underline;
}
.payment{
    text-align: left;
    gap: 10px;
}
.payment h3{
    margin-top: 30px;
    margin-bottom: 10px;
}
.payment img{
    
    width: 50px;
    height: auto;
    margin-right: 10px;
    display: flex;
    margin: 10PX;
    border-radius: 20px;
}
.payment img:hover{
    transform: scale(1.1);
    transition: transform 0.3s;
}
hr{
    border: 1px solid white;
    margin: 10px 0;
}
.foot-button{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.foot-buttom{
    margin-top: 10px;
    font-size: 0.9em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}
.foot-buttom p{
    width:auto ;
    padding: 5px ;
}
.foot-buttom a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
.foot-buttom a:hover{
    text-decoration: underline;
}
